{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1>Profile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>AlternativeEmail</th>
                <th>Department</th>
                <th>PhoneNumber</th>
                <th>BirthDate</th>
                <th>Title</th>
                <th>NationalID</th>
                <th>Signature</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.firstName }}</td>
                <td>{{ profile.lastName }}</td>
                <td>{{ profile.alternativeEmail }}</td>
                <td>{{ profile.department }}</td>
                <td>{{ profile.phoneNumber }}</td>
                <td>{{ profile.birthDate ? profile.birthDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ profile.title }}</td>
                <td>{{ profile.nationalID }}</td>
                <td>{{ profile.signature }}</td>
                <td>
                    <a href="{{ path('app_profile_show', {'id': profile.id}) }}">show</a>
                    <a href="{{ path('app_profile_edit', {'id': profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profile_new') }}">Create new</a>
{% endblock %}
