{% extends 'base.html.twig' %}

{% block title %}AttachmentType index{% endblock %}

{% block body %}
    <h1>AttachmentType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attachment_type in attachment_types %}
            <tr>
                <td>{{ attachment_type.id }}</td>
                <td>{{ attachment_type.name }}</td>
                <td>
                    <a href="{{ path('app_s_e_r_o_attachment_type_show', {'id': attachment_type.id}) }}">show</a>
                    <a href="{{ path('app_s_e_r_o_attachment_type_edit', {'id': attachment_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_s_e_r_o_attachment_type_new') }}">Create new</a>
{% endblock %}
