{% extends 'loginbase.html.twig' %}

{% block title %}
	{% trans %}Log in{% endtrans %}
{% endblock %}

{% block bodytitle %}
	<div class="mb-4">
		<h4 class=" font-weight-bold  ">{% trans %}Please sign in{% endtrans %}
		</h4>
		<div class="text-muted font-weight-bold">{% trans %}Enter your email and password to login{% endtrans %}</div>
	</div>
{% endblock  %}

{% block body %}
 

	<form method="post" name="form">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				{% trans %}You are logged in as{% endtrans %}
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
			</div>
		{% endif %}

 
		{# <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control h-auto form-control-solid py-4 px-8" autocomplete="email" required autofocus>
		         <input  type="password" name="_password" id="password" class="form-control h-auto form-control-solid py-4 px-8" autocomplete="current-password" required> #}
		{# ? #} 
		<div class="form-group mb-5">
			<input class="form-control h-auto form-control-solid py-4 px-8" placeholder="Email" type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus autocomplete="off"/>
		</div>
		<div class="form-group mb-5">
			<input class="form-control h-auto form-control-solid py-4 px-8" type="password" name="_password" id="password" placeholder="Password"/>
		</div>
		<div class="form-group d-flex flex-wrap justify-content-between align-items-center">
			<label class="checkbox m-0 text-muted">
				<input type="checkbox" name="_remember_me"/>{% trans %}Remember me{% endtrans %}
				<span></span>
			</label>
			<a href="{{ path('app_forgot_password_request') }}" id="kt_logins_forgot" class="text-muted text-hover-primary">{% trans %}Forget Password ?{% endtrans %}</a>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">{% trans %}Sign In{% endtrans %}</button>
	</form>
	<div class="mt-10">
		<span class="opacity-70 mr-4">{% trans %}Don't have an account yet?{% endtrans %}</span>
		<a href="{{ path('app_register') }}" class="btn btn-light-info font-weight-bold">{% trans %}Create account{% endtrans %}</a>
	</div>
{% endblock %}
