{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Response{% endtrans %}
{% endblock %}
{% block container_title %}Reviewer Response
{% endblock %}
{% block body %}


	<div class="card card-custom gutter-b">
		<div class="card-header flex-wrap border-0 pt-3 pb-0">
			<div class="card-title">
				<h3 class="card-label">{% trans %}Reviewer Response{% endtrans %}
					<span class="d-block text-muted pt-2 font-size-sm">{{ review_assignment.application.ibcode}}</span>
				</h3>

			</div>
			<span class="card-title text-success font-size-sm">
				<i class="fa fa-check text-success m-1"></i>
				{% trans %}Submitted{% endtrans %}
			</span>
		</div>
		<div class="card-body">
			<div class="d-flex flex-wrap justify-content-between mt-1">
				<div class="d-flex flex-column flex-grow-1 pr-8">
					<div class="d-flex flex-wrap mb-4">
						<a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
							<i class="flaticon2-new-email mr-2 font-size-lg"></i>
							{{ review_assignment.irbreviewer.email}}</a>
						<a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
							<i class="flaticon2-calendar-3 mr-2 font-size-lg"></i>
							{{ review_assignment.irbreviewer}}</a>
						<a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
							<i class="flaticon2-placeholder mr-2 font-size-lg"></i>
							{{ review_assignment.irbreviewer.profile.dirctorate}}</a>
					</div>
					<span class="font-weight-bold text-dark-50">
						{{ review_assignment.application.title}}
					</span>
					<span class=" text-hover-warning   font-weight-bold mr-3">

						{% trans %}Reviewed at{% endtrans %}:
						{{ review_assignment.reviewedAt|date('d M, y H:ia')}}
					</span>
				</div>
				<div class="d-flex align-items-center w-25 flex-fill float-right mt-lg-12 mt-8">
					<span class="font-weight-bold text-dark-75">{% trans %}Recommendation{% endtrans %}</span>
					{# <div class="progress progress-xs mx-3 w-100">
						<div class="progress-bar bg-success" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div> #}

					<button class="btn btn-light-{{review_assignment.recommendation.color}}"> {{review_assignment.recommendation.name}} 
					 </button>
					{# <span class="font-weight-bolder text-dark">78%</span> #}
				</div>
			</div>
			<br>
			<hr>

			{% if review_assignment.reviewerResponses|length >0   %}
				<table class="table table- ">

					<tbody>

						{% for checklist_group in irb_review_checklist_group %}
									{% if checklist_group.reviewChecklists|filter(checklist => checklist.reviewForm != review_assignment.reviewForm)|length == 0 %}
							
							<tr>
								<th>{{toAlpha(loop.index)}}.
									{{checklist_group}}</th>

								<th>{% trans %}Response{% endtrans %}</th>
								<th>{% trans %}Comment{% endtrans %}</th>
							</tr>
							{% set parents = {} %}
							{% for checklist in review_assignment.reviewerResponses|filter(  checklist =>  (checklist.checklist.checklistGroup ==  checklist_group) ) %}

								{% if checklist.checklist.parent %}
									{% set parents = parents|merge({("key" ~ checklist.checklist.parent.id):checklist.checklist.parent}) %}

								{% else %}
									<tr>
										<td>
											<p style="margin-left:10px">{{ loop.index}}.
												{{checklist}}</p>
										</td>
										<td {% if checklist.checklist.answerType ==2 %} colspan="2" {% endif %}>
											{% if checklist.checklist.answerType ==1 and checklist.answer == 'Yes' %}
												<span class="label label-lg label-light-success label-inline">
													<i class="fa fa-check text-success m-1 font-size-sm"></i>
													{% trans %}Yes{% endtrans %}</span>

											{% elseif checklist.checklist.answerType ==1 and checklist.answer == 'no' %}
												<span class="label label-lg label-light-danger label-inline">
													<i class="fa fa-times text-danger m-1 font-size-sm"></i>
													{% trans %}No{% endtrans %}</span>
											{% elseif checklist.checklist.answerType ==2  %}
												{{ checklist.answer  }}

											{% else    %}
												{# {{ checklist.answer  }} #}
											{% endif %}
										</td>
										<td>
											{{ checklist.comment }}</td>
									</tr>
								{% endif %}

							{% endfor %}
							{# {% for checklist_parent in parents %}
								<tr>
									<th>
										<b style="margin-left:10px">{{toRoman(loop.index)}}.
											{{checklist_parent}}</b>
									</th>
									<th>{% trans %}Response{% endtrans %}</th>
								</tr>
								{% for checklist in review_assignment.reviewerResponses|filter(checklist =>  (checklist.checklist.answerType==1 and  checklist.checklist.parent ==  checklist_parent)) %}
									<tr>
										<td>
											<p style="margin-left:20px">{{loop.index}}.
												{{checklist}}</p>
										</td>
										<td>{{ checklist.answer }}</td>
									</tr>

								{% endfor %}
							{% endfor %} #}
			{% endif %}

						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p class="text-danger">
					{% trans %}No review responses has been  given for this protocol yet{% endtrans %}!</p>
			{% endif %}

		</div>
	</div>

{% endblock %}
