{% extends 'base.html.twig' %}

{% block title %}Directorate index{% endblock %}

{% block body %}
    
    <div
		class="col-xxl-8 order-2 order-xxl-1">
		<!--begin::Advance Table Widget 2-->
		<div
			class="card card-custom card-stretch gutter-b">
			<!--begin::Header-->
			<div class="card-header border-0 pt-5">
				<h3 class="card-title align-items-start flex-column">
					<span class="card-label font-weight-bolder text-dark">Directorates</span>
					<span class="text-muted mt-3 font-weight-bold font-size-sm">Details</span>
				</h3>
   <a href="{{ path('app_directorate_new') }}" class="align-items-start pull-right">Create new</a>
<span class="label label-lg label-light-primary label-inline">{{allusers|length}} Employees in total</span>
 
			</div> 
			<div
				class="card-body pt-3 pb-0">
				<!--begin::Table-->
				<div class="table-responsive">
				
 <table class="table table-bordered">
         
            <tr>
{% for coupon in directorates %}
<td>
{{ coupon.name }}={{ coupon.users|length }}
{% set quota =coupon.users|length * 100 / allusers|length %}
            <br> Quota:    {{ quota|number_format(0, '.', ',')}} %</td>
        {% endfor %}
        </tr>
 </table >

 <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Registered at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for directorate in directorates %}
            <tr>
                <td>{{ directorate.id }}</td>
                <td>{{ directorate.name }}</td>
                <td>{{ directorate.description }}</td>
                <td>{{ directorate.createdAt ? directorate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_directorate_show', {'id': directorate.id}) }}">show</a>
                    <a href="{{ path('app_directorate_edit', {'id': directorate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


				</div>
				<!--end::Table-->
			</div>
			<!--end::Body-->
		</div>
	</div>
{% endblock %}
