{% extends 'base.html.twig' %}

{% block title %}Directorate{% endblock %}

{% block body %}
    <h1>Directorate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ directorate.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ directorate.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ directorate.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ directorate.createdAt ? directorate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_directorate_index') }}">back to list</a>

    <a href="{{ path('app_directorate_edit', {'id': directorate.id}) }}">edit</a>

    {{ include('directorate/_delete_form.html.twig') }}
{% endblock %}
