{% extends 'base.html.twig' %}

{% block title %}ApplicationType index{% endblock %}

{% block body %}
    <h1>ApplicationType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application_type in application_types %}
            <tr>
                <td>{{ application_type.id }}</td>
                <td>{{ application_type.name }}</td>
                <td>{{ application_type.description }}</td>
                <td>
                    <a href="{{ path('app_s_e_r_o_application_type_show', {'id': application_type.id}) }}">show</a>
                    <a href="{{ path('app_s_e_r_o_application_type_edit', {'id': application_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_s_e_r_o_application_type_new') }}">Create new</a>
{% endblock %}
