<div class="accordion  accordion-toggle-arrow m-2" id="accordionExample1">

	{% for reviewResponse in application.reviewAssignments %}
		<div class="card m-2">
			<div class="card-header" id="headingOne4{{reviewResponse.id}}">
				<div class="card-title" data-toggle="collapse" data-target="#accordionCOllapse{{reviewResponse.id}}">
					<i class="flaticon2-layers-1"></i>
					{% trans %}Reviewer{% endtrans %}
					{{ loop.index}}:
					{{   reviewResponse.irbreviewer}}
				</div>
			</div>
			<div id="accordionCOllapse{{reviewResponse.id}}" class="collapse  " data-parent="#accordionExample1">
				<div class="card-body">
					<div class="d-flex flex-wrap justify-content-between mt-1">
						<div class="d-flex flex-column flex-grow-1 pr-8">
							<div class="d-flex flex-wrap mb-4">
								<a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
									<i class="flaticon2-new-email mr-2 font-size-lg"></i>
									{% if reviewResponse.irbreviewer %}
										{{ reviewResponse.irbreviewer.email}}
									{% endif %}


								</a>
								<a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
									<i class="flaticon2-calendar-3 mr-2 font-size-lg"></i>
									{{ reviewResponse.irbreviewer}}
								</a>
								<a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
									<i class="flaticon2-placeholder mr-2 font-size-lg"></i>
									{% if reviewResponse.irbreviewer %}
										{{ reviewResponse.irbreviewer.profile.dirctorate}}
									{% endif %}
								</a>
							</div>
							<span class="font-weight-bold text-dark-50 font-size-lg font-weight-bold mr-3">
								{% trans %}Invitation sent at{% endtrans %}:
								{{ reviewResponse.InvitationSentAt ? reviewResponse.InvitationSentAt|date('d M, y H:ia ') : '' }}</span>
							<span class="font-weight-bold text-dark-50   font-size-lg font-weight-bold mr-3">

								{% trans %}Reviewed at{% endtrans %}:

								{{ reviewResponse.reviewedAt|date('d M, y H:ia')}}
							</span>
						</div>
						<div class="d-flex align-items-center w-25 flex-fill float-right mt-lg-12 mt-8">
							{% if reviewResponse.recommendation %}
								<span class="font-weight-bold text-dark-75">
									{% trans %}Recommendation{% endtrans %}:
									<br>
									<span class="label label-lg label-inline label-light-{{reviewResponse.recommendation.color}}">
										{{reviewResponse.recommendation.name}}
									</span>
								</span>
								<br>
								<a href="{{ path('reviewerResponse', {'id': reviewResponse.id}) }}" class='text-light-50  btn btn-light-info m-2 btn-sm'>
									<i class="fa fa-download"></i>
									{% trans %}Download{% endtrans %}
								</a>
							{% endif %}

						</div>
					</div>
					{% trans %}Review form{% endtrans %}:

					<span class="font-weight-bold font-size-lg my-8 text-dark-75">{{reviewResponse.reviewForm}}</span>
					<br>
					<br>
					<br>
					<hr>
					{% if reviewResponse.reviewerResponses|length >0   %}
						<table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline collapsed" id="kt_datatable_2" role="grid" aria-describedby="kt_datatable_2_info">
							<tbody>
								{% for checklist_group in irb_review_checklist_group %}
									{% if checklist_group.reviewChecklists|filter(checklist => checklist.reviewForm != reviewResponse.reviewForm)|length == 0 %}

										<tr>
											<th>{{toAlpha(loop.index)}}.
												{{checklist_group}}</th>
											<th>{% trans %}Response{% endtrans %}</th>
											<th>{% trans %}Comment{% endtrans %}</th>
										</tr>
										{% set parents = {} %}
										{% for checklist in reviewResponse.reviewerResponses|filter(  checklist =>  (checklist.checklist.checklistGroup ==  checklist_group) ) %}

											{% if checklist.checklist.parent %}
												{% set parents = parents|merge({("key" ~ checklist.checklist.parent.id):checklist.checklist.parent}) %}

											{% else %}
												<tr>
													<td>
														<p style="margin-left:10px">{{ loop.index}}.
															{{checklist}}</p>
													</td>
													<td {% if checklist.checklist.answerType ==2 %} colspan="2" {% endif %}>
														{% if checklist.checklist.answerType ==1 and checklist.answer == 'yes' %}
															<span class="label label-lg label-light-success label-inline">
																<i class="fa fa-check text-success m-1 font-size-sm"></i>
																{% trans %}Yes{% endtrans %}</span>
														{% elseif checklist.checklist.answerType ==1 and checklist.answer == 'no' %}
															<span class="label label-lg label-light-danger label-inline">
																<i class="fa fa-times text-danger m-1 font-size-sm"></i>
																{% trans %}No{% endtrans %}</span>
														{% elseif checklist.checklist.answerType ==2  %}
															{{ checklist.answer  }}

														{% else    %}
															{{ checklist.answer  }}
														{% endif %}

													</td>
													<td>{{ checklist.comment }}</td>
												</tr>
											{% endif %}

										{% endfor %}
										{% for checklist_parent in parents %}
											<tr>
												<th>
													<b style="margin-left:10px">{{toRoman(loop.index)}}.
														{{checklist_parent}}</b>
												</th>
												<th>{% trans %}Response{% endtrans %}</th>
											</tr>
											{% for checklist in reviewResponse.reviewerResponses|filter(checklist =>  (checklist.checklist.answerType==1 and  checklist.checklist.parent ==  checklist_parent)) %}
												<tr>
													<td>
														<p style="margin-left:20px">{{loop.index}}.
															{{checklist}}</p>
													</td>
													<td>{{ checklist.answer }}</td>
												</tr>

											{% endfor %}
										{% endfor %}
									{% endif %}

								{% endfor %}
							</tbody>
						</table>

					{% else %}
						<p class="text-danger">
							{% trans %}Reviewer hasn't responded yet{% endtrans %}!
						</p>
					{% endif %}
				</div>
			</div>

		</div>

	{% else %}
		<p class="text-danger">{% trans %}No reviewer sent any response on this application yet{% endtrans %}!</p>
	{% endfor %}


</div>
