{% extends 'base.html.twig' %}

{% block title %}MeetingSchedule{% endblock %}

{% block body %}
    <h1>MeetingSchedule</h1>
 
 <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline collapsed" id="kt_datatable_2" role="grid" aria-describedby="kt_datatable_2_info">
			
             <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>HeldAt</th>
                <th>Status</th>
                <th>Note</th>
                <th>MinuteTakenAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meeting_schedule.meetings %}
            <tr>
                <td>{{ meeting.id }}</td>
                <td>{{ meeting.number }}</td>
                <td>{{ meeting.heldAt ? meeting.heldAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ meeting.status }}</td>
                <td>{{ meeting.note }}</td>
                <td>{{ meeting.minuteTakenAt ? meeting.minuteTakenAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {# <a href="{{ path('app_s_e_r_o_meeting_show', {'id': meeting.id}) }}">show</a>
                    <a href="{{ path('app_s_e_r_o_meeting_edit', {'id': meeting.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
 </tbody>
    </table>
{% endblock %}
