{% extends 'base.html.twig' %}

{% block title %}Continuation{% endblock %}

{% block body %}
    <h1>Continuation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ continuation.id }}</td>
            </tr>
            <tr>
                <th>RequestedAt</th>
                <td>{{ continuation.requestedAt ? continuation.requestedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ continuation.description }}</td>
            </tr>
            <tr>
                <th>Approved</th>
                <td>{{ continuation.approved ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_s_e_r_o_continuation_index') }}">back to list</a>

    <a href="{{ path('app_s_e_r_o_continuation_edit', {'id': continuation.id}) }}">edit</a>

    {{ include('sero/continuation/_delete_form.html.twig') }}
{% endblock %}
