{% extends 'base.html.twig' %}

{% block title %}ReviewerResponse{% endblock %}

{% block body %}
    <h1>ReviewerResponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reviewer_response.id }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ reviewer_response.answer }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_s_e_r_o_reviewer_response_index') }}">back to list</a>

    <a href="{{ path('app_s_e_r_o_reviewer_response_edit', {'id': reviewer_response.id}) }}">edit</a>

    {{ include('sero/reviewer_response/_delete_form.html.twig') }}
{% endblock %}
