{% extends 'base.html.twig' %}

{% block title %}ReviewStatusGroup{% endblock %}

{% block body %}
    <h1>ReviewStatusGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ review_status_group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ review_status_group.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_s_e_r_o_review_status_group_index') }}">back to list</a>

    <a href="{{ path('app_s_e_r_o_review_status_group_edit', {'id': review_status_group.id}) }}">edit</a>

    {{ include('sero/review_status_group/_delete_form.html.twig') }}
{% endblock %}
