{% extends 'base.html.twig' %}

{% block title %}ProgressReport{% endblock %}

{% block body %}
    <h1>ProgressReport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ progress_report.id }}</td>
            </tr>
            <tr>
                <th>SubmittedAt</th>
                <td>{{ progress_report.submittedAt ? progress_report.submittedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Attachment</th>
                <td>{{ progress_report.attachment }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ progress_report.summary }}</td>
            </tr>
            <tr>
                <th>KeyResultsOfResearch</th>
                <td>{{ progress_report.keyResultsOfResearch }}</td>
            </tr>
            <tr>
                <th>Challenges</th>
                <td>{{ progress_report.challenges }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('progress_report_index') }}">back to list</a>

    <a href="{{ path('app_s_e_r_o_progress_report_edit', {'id': progress_report.id}) }}">edit</a>

    {{ include('sero/progress_report/_delete_form.html.twig') }}
{% endblock %}
