<ul
	class="navi navi-hover py-4  ">
	<!--begin::Item-->
	<li class="navi-item">
		<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({_locale: 'en'}))}}" class="navi-link">
			<span class="symbol symbol-20 mr-3">
				<img src="{{ asset('theme/assets/media/svg/flags/226-united-states.svg' ) }}" alt=""/>
			</span>
			<span class="navi-text">{% trans %}English{% endtrans %}</span>
		</a>
	</li>
	<li class="navi-item">
		<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({_locale: 'en'}))}}" class="navi-link">
			<span class="symbol symbol-20 mr-3">
				<img src="{{ asset('theme/assets/media/svg/flags/195-france.svg' ) }}" alt=""/>
			</span>
			<span class="navi-text">{% trans %}French{% endtrans %}</span>
		</a>
	</li>
	<li class="navi-item">
		<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({_locale: 'en'}))}}" class="navi-link">
			<span class="symbol symbol-20 mr-3">
				<img src="{{ asset('theme/assets/media/svg/flags/128-spain.svg' ) }}" alt=""/>
			</span>
			<span class="navi-text">{% trans %}Spanish{% endtrans %}</span>
		</a>
	</li>
	<li class="navi-item">
		<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({_locale: 'am'}))}}" class="navi-link">

			<span class="symbol symbol-20 mr-3">
				<img src="{{ asset('theme/assets/media/svg/flags/005-ethiopia.svg' ) }}" alt=""/>
			</span>
			<span class="navi-text">{% trans %}Amharic{% endtrans %}</span>
		</a>
	</li>
	<li class="navi-item">
		<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({_locale: 'or'}))}}" class="navi-link">

			<span class="symbol symbol-20 mr-3">
				<img src="{{ asset('theme/assets/media/svg/flags/005-ethiopia.svg' ) }}" alt=""/>
			</span>
			<span class="navi-text">{% trans %}Afaan Oromoo{% endtrans %}</span>
		</a>
	</li>


	<li class="navi-item">
		<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({_locale: 'or'}))}}" class="navi-link">

			<span class="symbol symbol-20 mr-3">
				<img src="{{ asset('theme/assets/media/svg/flags/005-ethiopia.svg' ) }}" alt=""/>
			</span>
			<span class="navi-text">{% trans %}Tigrigna{% endtrans %}</span>
		</a>
	</li>

	<li class="navi-item">
		<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({_locale: 'sd'}))}}" class="navi-link">

			<span class="symbol symbol-20 mr-3">
				<img src="{{ asset('theme/assets/media/svg/flags/005-ethiopia.svg' ) }}" alt=""/>
			</span>
			<span class="navi-text">{% trans %}Sidaamu Afoo{% endtrans %}</span>
		</a>
	</li>

	<li class="navi-item">
		<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({_locale: 'or'}))}}" class="navi-link">

			<span class="symbol symbol-20 mr-3">
				<img src="{{ asset('theme/assets/media/svg/flags/005-ethiopia.svg' ) }}" alt=""/>
			</span>
			<span class="navi-text">{% trans %}Somali{% endtrans %}</span>
		</a>
	</li>

	<li class="navi-item">
		<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({_locale: 'or'}))}}" class="navi-link">

			<span class="symbol symbol-20 mr-3">
				<img src="{{ asset('theme/assets/media/svg/flags/005-ethiopia.svg' ) }}" alt=""/>
			</span>
			<span class="navi-text">{% trans %}Afar{% endtrans %}</span>
		</a>
	</li>
</ul>
