{% extends 'widebase.html.twig' %}
{% block breadcrumb %}{% endblock %}
{# {% block pagehead %}Home
{% endblock %} #}
{% block title %}
	IRB clearance
{% endblock %}

{% block body %}

	{% if  not irb is defined %}
		<div class="card  m-4" data-aos="fade-up">
			<div class="comtainer m-14 p-10" data-aos="fade-up">
				<div class="section-title">
					<h2>
						{% trans %}Validate IRB clearance here{% endtrans %}
					</h2>
				</div>
				<div class="section-title">
					<form method="post">
						<div class="row justify-content-center">
							<div class=" form-group col-md-12">
								<input type="text" name="validate" class="form-control" id="name" placeholder="{% trans %}Enter a reference number/code{% endtrans %}" required=""/>
							</div>
						</div>
						<button class="mt-2 btn-lg btn btn-success" type="submit">{% trans %}Check{% endtrans %}</button>
					</form>
				</div>
			</div>
		</div>

	{% else %}
		<div class="card  m-4">
			<div class="ribbon ribbon-top">
				{% if date(irb.validUntil) < date()   %}
					<div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">{% trans %}Invalid Status{% endtrans %}</div>
				{% else %}
					<div class="ribbon-target bg-success" style="top: -2px; right: 20px;">{% trans %}Valid Status{% endtrans %}</div>
				{% endif %}
			</div>
			<div class="cards p-34 aos-init aos-animate" data-aos="fade-up">
				<div class="p-10" data-aos="fade-up">
					<img width="50" alt="Logo" src="{{ asset('files/site_setting/'~site_logo ) }}"/>
					<br>
					<div class="section-title my-4">
						<h2>{% trans %}IRB Ethical Clearance{% endtrans %}</h2>
					</div>
					<p class="float-end">{% trans %}Reference code{% endtrans %}
						:<u>
							<b>{{ irb.certificateCode }}</b>
						</u>
					</p>
					<br>
					<p>
						{% trans %}The IRB of{% endtrans %}
						{{app_name}}
						{% trans %}has reviewed research project{% endtrans %}
						<u>
							<b>"{{ irb.irbApplication.title }}".</b>
						</u>
						Thus, this is to notify that this research protocol has presented to the IRB meets the ethical and Scientific standards outlined in national and international guidelines. Hence, we are approve this  research protocol is ethically cleared.
					</p>
					<br>
					Hence, we are pleased to inform you that your research protocol is ethically cleared under the following strict conditions:

					<p class="font-weight-bold font-size-sm mr-5 font-size-h6 text-dark-75 ">Obligations of the PI:</p>
					<p>
						<ol class="text-body font-size-24">
							<li>Should comply with the standard international & national scientific and ethical guidelines.</li>
							<li>All amendments and changes made in protocol and consent form needs IRB approval.</li>
							<li>The PI should report SAE within 48 hours of the event.</li>
							<li>This approval certificate is valid for only one year (specified bellow). The PI should 
																						     submit continuation request before expire date of approval, if projects is to continue.</li>
							<li>Final report/Thesis and Manuscripts should be submitted to the IRB secretariat after completion of     the study 
																							.</li>
						</ol>

					</p>
					<p class="font-weight-bold font-size-sm mr-5 font-size-h6 text-dark-75">Investigators:</p>

					<table class="table  font-weight-bold font-size-md">
						<tr>
							<th>#</th>
							<th>Full name</th>
							<th>Institution</th>
							{# <th>Licence No.</th> #}
							<th>Email</th>
							<th>Tel</th>
						</tr>
						<tbody>
							{%  for member in irb.irbApplication.participatingInvestigators %}
								<tr>
									<td>{{loop.index}}</td>
									<td>{{member.fullName}}</td>
									<td>{{member.institution}}</td>
									{# <td>{{member.licenceNumber}}</td> #}
									<td>{{member.email}}</td>
									<td>{{member.telephone}}</td>

								</tr>

							{%  endfor  %}
						</tbody>
					</table>


					<div class="row content">
						<div class="col-lg-6">
							<p>
								<b>Study Sites:</b>
								{{irb.irbApplication.location}}
							</p>
							<p>
								<b>{% trans %}Project Type{% endtrans %}:</b>
								{{ irb.irbApplication.studyType }}
							</p>
							<p>
								<b>{% trans %}Project PI{% endtrans %}:</b>
								{{   irb.irbApplication.submittedBy  }}
							</p>
							<p>
								<b>{% trans %}Project duration{% endtrans %}:</b>
								{{ irb.irbApplication.startDate | date('d M, Y') }}
								-
								{{ irb.irbApplication.endDate | date('d M, Y') }}
							</p>

						</div>
						<div class="col-lg-6 pt-4 pt-lg-0">

							<p>
								<b>{% trans %}Mode of Review{% endtrans %}</b>:
								{{ irb.version.application.reviewMode  }}
							</p>
							<p>
								<b>{% trans %}Approval Period{% endtrans %}</b>:
																From
								{{ irb.validFrom | date('d M, y ')|trans }}
								To
								{{ irb.validUntil | date('d M, y')|trans }}
							</p>

							<p>
								<b>Approved By</b>:
								{% if irb.approvedBy %}
									{{irb.approvedBy}}
									<br>
									{% else %}
									{# {% trans %}Not Approved{% endtrans %} #}
								{% endif %}
							</p>
							<p>
								<b>Follow up report expected in</b>:
								{{irb.version.reportExpectationPeriod}}
								months</p>
						</div>
					</div>
					<span class="separator"></span>
					<div class="separator separator-dashed"></div>
					<img src="{{ qr_code }}" alt="QR Code" style="width: 100; height: 100px;">
					<br>
					<div class="separator separator-dashed"></div>
					<b class=" font-weight-bold">{% trans %}Verify here{% endtrans %}:</b>
					<a href="{{app_url}}/{{ app.request.getLocale() }}/verify-here/{{irb.certificateCode}}">{{app_url}}/{{ app.request.getLocale() }}/verify-here/{{irb.certificateCode}}</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
