<span class="label  label-light-warning label-inline mr-2">{% trans %}Secondary reviewer{% endtrans %}</span>
<div class="my-2">


	{{ form_start(extform) }}
			{# {{ form_widget(extform) }} #}

	<div class="form-group  row">
		<label class="col-form-label col-3 text-lg-right text-left">{{ form_label(extform.secReviewer) }}
		</label>

		<div class="col-8">

			{{ form_widget(extform.secReviewer) }}

		</div>
	</div>
	<div class="row">

		<label class="col-form-label col-3 text-lg-right text-left">{{ form_label(extform.invitationResponseDueDate) }}
		</label>

		<div class="col-8">

			{{ form_widget(extform.invitationResponseDueDate) }}

		</div>
	</div>
	<div class="row">

		<label class="col-form-label col-3 text-lg-right text-left">{{ form_label(extform.duedate) }}
		</label>

		<div class="col-8">

			{{ form_widget(extform.duedate) }}

		</div>
	</div>
	<div class="row">

		<label class="col-form-label col-3 text-lg-right text-left">{{ form_label(extform.reviewForm) }}
		</label>

		<div class="col-8">

			{{ form_widget(extform.reviewForm) }}

		</div>
	</div>

	<div class="row">

		<label class="col-form-label col-3 text-lg-right text-left"></label>

		<div class="col-8">

			<button type="submit" class="btn btn-light-primary  float-end">
				{% trans %}Assign reviewer{% endtrans %}
			</button>
		</div>
	</div>


	{{ form_end(extform) }}
</div>
