{% extends 'base.html.twig' %}
{% block title %}

	{% trans %}My Review Assignments{% endtrans %}
{% endblock  %}

{% block body %}


	<div class="card card-custom gutter-b my-0">
		<div class="card-header">
			<div class="card-title">
				<h3 class="card-label">{% trans %}My Review Assignments{% endtrans %}
				</h3>
			</div>
		</div>
		<div class="card-body">
			<div class="example-preview">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">
							<span class="nav-icon">
								<i class="fa fa-book"></i>
							</span>
							<span class="nav-text">
								{% trans %}All Active{% endtrans %}

								{% if myreviews|length>0%}

									<span class="label label-sm label-success mr-2">{{myreviews|length}}</span>
									{% else %}

								{% endif %}
							</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" aria-controls="profile">
							<span class="nav-icon">
								<i class="fa fa-lock"></i>
							</span>
							<span class="nav-text">Closed  assigned
								<span class="label label-sm label-warning  mr-2">{{  closeds|length}}</span>
							</span>
						</a>
					</li>

				</ul>
				<div class="tab-content mt-5" id="myTabContent">
					<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="table-responsive">
							{% if myreviews|length>0%}

								<table class="table     table-vertical-center">
									<thead>
										<tr>

											<th>#</th>
											<th>{% trans %}Title{% endtrans %}</th>
											<th>{% trans %}Invitation sent at{% endtrans %}</th>
											<th>{% trans %}Invitation Response due-date{% endtrans %}</th>
											<th>{% trans %}Review due-date{% endtrans %}</th>
											<th>{% trans %}Status{% endtrans %}</th>
											{# <th>{% trans %}Reviewed at{% endtrans %} #}
										</tr>
									</thead>
								</th>
								<th>
									<i class="fa fa-cog"></i>
								</th>
							</tr>
						</thead>
						<tbody>
							{% for myreview in myreviews %}
								<tr>
									<td>
										{{ loop.index }}</td>
									<td>
										<b class="text-muted">
											{{  myreview.application.ibcode }}
											:<br></b>
										{{ myreview.application.title }}

									</td>

									<td nowrap="nowrap">
										{% if myreview.InvitationSentAt %}
											{{ myreview.InvitationSentAt|date('d M, y H:ia ')|trans }}
										{% endif %}
									</td>
									<td nowrap="nowrap">
										{% if myreview.invitationResponseDueDate %}
											{{ myreview.invitationResponseDueDate|date('d M, y H:ia ')|trans }}
										{% endif %}
									</td>
									<td nowrap="nowrap">
										{% if myreview.dueDate %}
											{{ myreview.dueDate|date('d M, y H:ia ')|trans }}
										{% endif %}
									</td>
									<td nowrap="nowrap">
										{% if myreview.closed%}
											<span class="label label-lg label-light-primary label-inline">Review sent</span>
										{% else %}
											<span class="label label-lg label-light-danger label-inline">Waiting for response</span>
										{% endif %}
									</td>

									<td>


										<form method="post" action="{{ path('invitation_response', {'id': myreview.id}) }}">
											<input hidden name="decline" value="decline{{myreview.id}}"/>
											<input hidden name="accept" value="accept{{myreview.id}}"/>
											<div class="btn-group" role="group" aria-label="Basic example">
												<button type="submit" class="btn btn-light-danger">
													{% trans %}Decline invitation{% endtrans %}
												</button>
												<button type="submit" class="btn btn-light-success">
													{% trans %}Accept invitation{% endtrans %}
												</button>
											</div>
										</form>
									</td>
								</tr>
							{% else %}
								{% trans %}No records found  under this section{% endtrans %}
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
		<div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
			<div class="table-responsive">
				{% if closeds|length>0%}

					<table class="table table-   table-vertical-center">
						<thead>
							<tr>
								<th>#</th>
								<th>{% trans %}Title{% endtrans %}</th>
								<th>{% trans %}Decision{% endtrans %}</th>
								<th>{% trans %}Reviewed date{% endtrans %}</th>
								{# <th>Status</th> #}
							</tr>
						</thead>
						<tbody>
							{% for myreview in closeds %}
								<tr>
									<td>
										{{ loop.index }}</td>
									<td>
										<b class="text-muted">
											{{  myreview.application.ibcode }}
											:<br></b>
										{{ myreview.application.title }}
									</td>
									<td>
										{{ myreview.recommendation }}
									</td>
									<td>
										{% if myreview.reviewedAt %}
											{{ myreview.reviewedAt|date('d, M Y h:i a') }}
										{% endif %}
									</td>
								</tr>
							{% else %}
								No records found  under this section
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					No records found  under this section
				{% endif %}
			</div>
		</div>
		<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Tab content 3</div>
	</div>
{% endblock %}

{% block javascripts %}{% endblock %}
