{% extends 'base.html.twig' %}

{% block title %}Review Assignment
{% endblock %}
{% block container_title %}Review Assignment
{% endblock %}
{% block body %}
	{# <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/> #}

	<div class="row">

		<div class="col-12 py-4">

			<div class="accordion  accordion-toggle-arrow" id="accordionExample4">
				<div class="card">
					<div class="card-header" id="headingOne4">
						<div class="card-title">
							<i class="flaticon2-layers-1"></i>
							{% trans %}Assign Reviewer{% endtrans %}


						</div>
						
						<a href="{{ path('application_show', {'uid': application.uid}) }}" class=" text-muted ml-8" data-toggle="tooltip" data-placement="top" title="{{application.ibcode}}">

							{{application.ibcode}}
						</a>
						<br><br>
					</div>
					<div>
						<div class="card-body">

							<div class="example-preview">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="home-tab" data-toggle="tab" href="#board-members-list">
											<span class="nav-icon">
												<i class="fa fa-users text-success"></i>
											</span>
											<span class="nav-text">{% trans %}Board memebrs{% endtrans %}
												{% if irb_review_assignment|length>0%}

													<span class="label label-sm label-primary mr-2">{{irb_review_assignment|length}}</span>
													{% else %}

												{% endif %}
											</span>


										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link " id="board-members-tab" data-toggle="tab" href="#non-members" aria-controls="board-members">
											<span class="nav-icon">
												<i class="fa fa-database text-warning	"></i>
											</span>
											<span class="nav-text">{% trans %}External reviewers{% endtrans %}
												{# <span class="label label-sm label-danger mr-2">{{ myreviews|length + closeds|length}}</span> #}
											</span>
										</a>
									</li>

								</ul>
								<div class="tab-content mt-5" id="myTabContent">
									<div class="tab-pane fade active show" id="board-members-list" role="tabpanel" aria-labelledby="home-tab">
										{{ include('sero/review_assignment/_form.html.twig') }}
									</div>
									<div class="tab-pane fade " id="non-members" role="tabpanel" aria-labelledby="board-members-tab">
										{{ include('sero/review_assignment/extform.html.twig') }}

									</div>
								</div>
							</div>
							{# ////end tabs #}
						</div>

					</div>
				</div>


			</div>


		</div>
	</div>
	<div class="row">

		<div class="col-12 ">
			<div class="card bg-gray-100 my-1">
				<div class="card-body ">
					<a href="{{ path('application_show', {'uid': application.uid}) }}" class=" text-muted" type="button" data-toggle="tooltip" data-placement="top" title="{{application.ibcode}}">
						<b>
							{{application.ibcode}}:</b>
						<span class="text-muted">{{application.title}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card card-custom gutter-b my-0">
		<div class="card-body">
			<div class="example-preview">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">
							<span class="nav-icon">
								<i class="fa fa-calendar"></i>
							</span>
							<span class="nav-text">{% trans %}Assigned reviewers{% endtrans %}
								{% if irb_review_assignment|length>0%}

									<span class="label label-sm label-primary mr-2">{{irb_review_assignment|length}}</span>
									{% else %}

								{% endif %}
							</span>


						</a>
					</li>


				</ul>
				<div class="tab-content mt-5" id="myTabContent">
					<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="table-responsive">
							{{ include('sero/review_assignment/assignmentList.html.twig') }}

						</div>
					</div>

					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Tab content 3</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(function () {
$(".select2").select2();
});

// /Tooltip

$(function () {
$('[data-toggle="tooltip"]').tooltip()
})
// /Tooltip
	</script>
{% endblock %}
