{% extends 'base.html.twig' %}

{% block title %}EmailMessage index
{% endblock %}

{% block body %}
	<div class="col-xxl-8 order-2 order-xxl-1">
		<div class="card card-custom card-stretch gutter-b">
			<div class="card-header border-0 pt-5">
				<h3 class="card-title align-items-start flex-column">
					<span class="card-label font-weight-bolder text-dark">Emails</span>
					<span class="text-muted mt-3 font-weight-bold font-size-sm">Lists</span>
				</h3>
				<a href="{{ path('app_email_message_new') }}">Create new</a>

			</div>
			<div class="card-body pt-3 pb-0">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Id</th>
								<th>Email_key</th>
								<th>Subject</th>
								<th>Body</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for email_message in email_messages %}
								<tr>
									<td>{{ email_message.id }}</td>
									<td>{{ email_message.emailKey }}</td>
									<td>{{ email_message.subject }}</td>
									<td>{{ email_message.body }}</td>
									<td>
										<a href="{{ path('app_email_message_show', {'id': email_message.id}) }}">show</a>
										<a href="{{ path('app_email_message_edit', {'id': email_message.id}) }}">edit</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>


				</div>
				<!--end::Table-->
			</div>
			<!--end::Body-->
		</div>
	</div>
{% endblock %}
